
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# venv
venv/
.env/
.venv/

# Environment variables
*.env

# IDE
.vscode/
.idea/

# Byte-compiled / optimized files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# OS files
.DS_Store

# Python packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# Database files
*.db
*.sqlite3

# Alembic
alembic/versions/*.pyc

# Docker
*.pid
